<form [formGroup]="nuevaPregunta">
  <div class="form-group-lg">
    <input type="text" class="form-control" placeholder="Ingrese Pregunta">
  </div>

  <div class="input-group">
    <input type="text" class="form-control" placeholder="Respuesta 1">
    <div class="input-group-prepend">
      <div class="input-group-text">
        <input type="radio" name="esCorrecta">
      </div>
    </div>
    <span class="material-symbols-outlined delete-icon">
      Delete
    </span>
  </div>
  <span class="material-symbols-outlined add-icon">
    Add
  </span>
  <br>
  <br>
  <button class="btn btn-primary float-right">Agregar</button>
</form>
